.vscode/

live-space/build
live-space/shared/log_*

testing-space/build
testing-space/project/menu/test
testing-space/project/menu/build
testing-space/project/server/manipulator
testing-space/project/shared/build
testing-space/project/shared/log_*